@import "~bootstrap/scss/bootstrap.scss";

html,
body,
#__nuxt {
  height: 100%;
}

.btn- {
  &primary, &danger, &warning, &info, &success {
    color: #fff;
    &:hover, &:focus {
      color: #fff;
    }
  }
}